.questions-create-container {
  .mat-card {
    max-width: 320px;
    width: 100%;
  }

  .mat-form-field {
    margin-bottom: 20px;
    min-width: 100%;
  }

  .answers-section {
    .mat-form-field {
      margin-bottom: 5px;
      min-width: calc(100% - 60px);
    }
  }
}
